.counter-num-bg-img{
    background-image: url(https://i.ibb.co/dQBHwVW/photo-1523240795612-9a054b0db644.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    opacity: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
}
.count-style{
    font-size: 50px;
    font-weight:bolder;
}
.our-team-box{
    width:300px;
    background-color:white;
    padding: 30px;
    position: relative;
    top:-70px;
    left:50px;
    border-radius: 15px;
    box-shadow: 20px;
}
.primary-clr{
    color: #3BB77E !important
}
.primary-bg{
    background-color: #3BB77E !important
}
.stay-home-bnr-img{
    height: 100%;
}